.containeralexs1 {
  background-color: white;
}
.containeralexs2 {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;

  }
  
  .list {
    padding-left: 30px;
    padding-right: 0px;
    background-color: black;
    margin-bottom: -1px;
    margin-top: -1px;
  }
  .botonli{
    margin-bottom: -1px;
    margin-top: -1px; 
  }
  
  .board-row2after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status2{
    margin-bottom: -1px;
  }
  
  .square2 {
    background: rgb(8, 8, 8);
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    margin-bottom: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
    color: azure;
  }
  
  .square2:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game2 {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: rgb(0, 0, 0);
    min-height: 400px;
    align-items: center;
    text-align: center;
    padding-left: 25%;
  }
  
  .game-info2 {
    margin-left: 20px;
    background-color: black;
  }
  .game-board2 {
    display: flex;
    align-items: center;
    margin-left: 20px;
    min-width: 100px;
  }
  