.containers{
    width: 70vw;
    height: 100vh;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.listado-canciones{
    width: 80%;    
    
}
.cancion{
    padding: 1rem 0rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

}
.titulo{
    flex:6;
    background: white;
    color : black
}
.actions {
    background: #3a3a3a;
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
  }