.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    width: 500px;
    height: 500px;
    
    
}

table td {
    border: 1px solid rgb(3, 3, 3);
    width: 100px;
    height: 100px;
}

