.navBg2 {
  background-color: black;
  margin-top: -20px;
  margin-left: -19px;
  margin-right: -19px;
}

.navBg {
  background-color: #343a40;
  margin-top: 10px;
}

.carousel{
  margin-top: 10px;
}

.NB1 {
  margin-left: 20px;
}

.NB2 {
  margin-left: 20px;
}
