:root{
    --mainDark: #343a40;
    --mainGrey: rgba(109, 109, 109);
    --mainLightGrey: rgba(172, 172, 172);
    --mainWhite: #fff;
    --mainBlue: #007bff;
}

.liFooter{
    text-align: left;
}

.h4f{
    text-align: left;
}

.row{
    margin-left: 140px;
    margin-right: 130px;
}


