body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.list2{
  padding-left: 20px;
  padding-right: 10px;
  background: rgb(0, 255, 217);
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 20px;
}

.square {
  background: rgb(8, 8, 8);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -18px;
  padding: 0;
  text-align: center;
  width: 34px;
  color: azure;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: rgb(0, 0, 0);
  min-height: 400px;
  align-items: center;
  text-align: center;
  padding-left: 25%;
  margin-top: -8px;
}

.game-info {
  margin-left: 80px;
  text-align: center;
}
.game-board {
  display: flex;
  align-items: center;
  margin-left: 20%;
  min-width: 200px;
}
 .botonsito{
  margin-bottom: -1px;
  margin-top: 10px;
 }

 .tictactoc-titulo{
  text-align: center;
  background: black;
  margin-top: 10px;
}