body{
    background-color: #fff;
    
  }
  main{
    width: 300px;
    margin: 50px auto 0;
  }
  div.board{
    display: grid;
    border: 2px solid #fff;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  div.square{
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    box-sizing: border-box;
    font-size: 4rem;
    text-align: center;
  }
  div.result{
    font-size: 2rem;
    padding: 10px;
  }
  div.result.green{
    background-color: #5a5;
  }
  div.result.red{
    background-color: #a55;
  }