.Boar {
    display: flex;
    flex-direction: column;
  }
  
  .ro {
    display: flex;
  }
  
.ola {
    padding-left: 20px;
    padding-right: 10px;
    background: rgb(94, 255, 0);
  }
  
  .score-boar {
    width: 320px;
    display: grid;
    grid-auto-flow: column;
    margin-top: 5px;
  }
  
  .score-boar div {
    color: rgb(197, 71, 71);
    text-align: center;
    font-size: 2em;
    padding: 5px;
    font-weight: bold;
    background-color: #4392F1;
  }
  
  .score-boar div:first-child {
    background-color: #CD493A;
  }
  .squar {
    width: 100px;
    height: 100px;
    background-color: #a18bd3;
    margin: 5px;
    transition: all .2s;
    border-radius: 0%;
    clip-path: polygon(36% 0, 0 0, 0 29%, 0 57%, 0 100%, 30% 100%, 73% 100%, 100% 100%, 100% 59%, 100% 31%, 100% 0, 74% 0);
  }
  
  .game-inf {
    margin-left: 10px;
    background-color: #54e4a1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
    color: #0a7207;
  }
  .game-boar {
    color: #CD493A;
    background-color: #21641e;
    align-items: center;
    margin-left: 10px;
    min-width: 100px;
  }
  .winner{
    font-family: 'Courier New', Courier, monospace;
    color: #4392F1;
  }
  .gam{
    font-size: 10px;
  }
