.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #274;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

<<<<<<< HEAD

=======
.App-link {
  color: #61fb87;
  color: #ad2d16;
}
>>>>>>> 72b1fdca20d33f538eeae2dbca0e6793230a2967

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Reproductvideo{
  position: relative;
  padding-top: 10%;
}
.react-player{
  position: absolute;
  top: 0;
  left: 0;
}
.game-block {
	margin: 0;
	padding: 0;
	width: 1.5em;
	height: 1.5em;
	border: 1px solid #ddd;
}
.piece-i {
	background-color: #ec858b;
}
.piece-j {
	background-color: #f1b598;
}
.piece-l {
	background-color: #f8efae;
}
.piece-o {
	background-color: #b5a677;
}
.piece-s {
	background-color: #816e56;
}
.piece-t {
	background-color: #b77c72;
}
.piece-z {
	background-color: #e3be58;
}
.piece-preview {
	background-color: #eee;
}
